body{
    background-color: rgb(54, 0, 102);
    color: rgb(0, 255, 247);
    font-family: "Handjet", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
background-color: rgb(255, 245, 98);
color: rgb(0, 0, 0);
font-family: "Handjet", sans-serif;
}